<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="/img/logo.png" type="image/png" sizes="16x16">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container">

            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <img src="/img/logo.png" alt="" height="150px">
                <h1>403</h1>
                <h2>Access Forbidden</h2>
                <p>Sorry, you don't have permission to access this page.</p>
                <div class="btn-container">
                    <a class="btn btn-sm btn-dark" href="/">Back to Home</a>
                </div>
                
             
            </section>

        </div>
    </main>
 
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>