<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="/img/logo.png" type="image/png" sizes="16x16">
  <title>
    <%=title%>
  </title>

  <!-- Google Fonts -->


  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- DataTable CSS CDN -->
  <link rel="stylesheet" href="/vendor/datatables/datatables.css">


  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <!-- Other scripts -->


</head>